window {
  background-color: #1e1e2e;
  border-radius: 6px;
}

* {
  font-family: "Jetbrains Mono";
  color: #fff;
}

#scroll {
  padding: 0.5rem;
}

#input {
  background-color: #1e1e2e;
  color: #c0caf5;
  outline: none;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
}

#inner-box {
  margin: 0.5rem;
  font-size: 1rem;
}

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 0.5rem;
}

#entry:selected {
  background-color: #cdd6f4;
  outline: none;
}

#text:selected {
  color: #1e1e2e;
}

